In [13]:
from pymongo import MongoClient


client = MongoClient('mongodb+srv://skripsiuser:skripsi12345@cluster0.khqzqbq.mongodb.net/?retryWrites=true&w=majority')
db = client['test']
collection = db['hoax_faqs']

In [15]:
import pandas as pd
from pymongo import MongoClient


def _connect_mongo(username, password):
    """ A util for making a connection to mongo """

    if username and password:
        mongo_uri = 'mongodb+srv://%s:%s@cluster0.khqzqbq.mongodb.net/?retryWrites=true&w=majority' % (username, password)
        conn = MongoClient(mongo_uri)
    else:
        print(mongo_uri)


    return conn

In [13]:

    """ Read from Mongo and Store into DataFrame """

    # Connect to MongoDB
    db = _connect_mongo(username='skripsiuser', 
password='skripsi12345')['test']

    # Make a query to the specific DB and Collection
    cursor = db['hoax_faqs'].find()

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))
    df.head()

,_id,pertanyaan,response
0,63a2141f4a60f7242c249515,[SALAH] Pesan Daniel Mananta untuk Umat Nasran...,\nTitle: [SALAH] Pesan Daniel Mananta untuk U...
1,63a2141f4a60f7242c249516,[SALAH] Cina dan Rusia Bantu Indonesia Rebut P...,\nTitle: [SALAH] Cina dan Rusia Bantu Indones...
2,63a2141f4a60f7242c249517,[SALAH] Puluhan Kapal Indonesia Dibakar Secara...,\nTitle: [SALAH] Puluhan Kapal Indonesia Diba...
3,63a2141f4a60f7242c249518,[SALAH] Perubahan Biaya Transaksi Bank BCA,\nTitle: [SALAH] Perubahan Biaya Transaksi Ba...
4,63a2141f4a60f7242c249519,[SALAH] Akun WhatsApp Anggota Ombudsman RI Her...,\nTitle: [SALAH] Akun WhatsApp Anggota Ombuds...

In [10]:
a = read_mongo
a.df()

AttributeError: 'function' object has no attribute 'df'

In [8]:
import pandas as pd

In [10]:
df =  pd.DataFrame(list(collection.find()))

In [11]:
df.head()

,_id,pertanyaan,response
0,63a2141f4a60f7242c249515,[SALAH] Pesan Daniel Mananta untuk Umat Nasran...,\nTitle: [SALAH] Pesan Daniel Mananta untuk U...
1,63a2141f4a60f7242c249516,[SALAH] Cina dan Rusia Bantu Indonesia Rebut P...,\nTitle: [SALAH] Cina dan Rusia Bantu Indones...
2,63a2141f4a60f7242c249517,[SALAH] Puluhan Kapal Indonesia Dibakar Secara...,\nTitle: [SALAH] Puluhan Kapal Indonesia Diba...
3,63a2141f4a60f7242c249518,[SALAH] Perubahan Biaya Transaksi Bank BCA,\nTitle: [SALAH] Perubahan Biaya Transaksi Ba...
4,63a2141f4a60f7242c249519,[SALAH] Akun WhatsApp Anggota Ombudsman RI Her...,\nTitle: [SALAH] Akun WhatsApp Anggota Ombuds...